<%- include('parts/header.ejs')%>
<main>
    <div class="container px-4 py-5" id="icon-grid">
        <%if (locals.data) {%>   
        <h2 class="pb-2 border-bottom">Brazillian Status</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
                <%data.forEach(element => {%>     
                    <div class="col d-flex align-items-start">
                        <div>
                            <div class="card" style="width: 18rem;">
                                <div class="card-header">
                                    <em><%= element.state%></em>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Cases: <%= element.cases%></li>
                                    <li class="list-group-item">Deaths: <%= element.deaths%></li>
                                    <li class="list-group-item">Suspects: <%= element.suspects%></li>
                                    <li class="list-group-item">Date: <%= element.datetime%></li>
                                </ul>
                            </div> 
                        </div>
                    </div>
                <%})%>
            </div>
        <%}%>
        <%if (locals.error) {%>
            <div class="px-4 py-5 my-5 text-center">
                <img class="d-block mx-auto mb-4" src="/images/error-svgrepo-com.svg" alt="" width="72" height="57">
                <h1 class="display-5 fw-bold text-body-emphasis">ERROR</h1>
                <div class="col-lg-6 mx-auto">
                  <p class="lead mb-4"><%= error%></p>
                </div>
            </div>
        <%}%>
    </div>
</main>
<%- include('parts/footer.ejs')%>